/* Import Google Fonts first */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Koulen&family=Poppins:ital,wght@0,400;1,300&family=Roboto&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.onsale-card {
  background: linear-gradient(84.05deg, #F47820 -16.06%, rgba(251, 224, 205, 0.216743) 186.4%, rgba(253, 253, 253, 0) 293.18%);
}

.arrowIcon {
  background: linear-gradient(104.08deg, #F47820 -79.48%, rgba(244, 120, 32, 0) 215.65%);
}